<!DOCTYPE html>


<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Art&Crafts | Visit Srilanka</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="art/search.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
			<script type="text/javascript" src="anuththiran/jquery-2.1.4.js"></script>
			<script>
			$(document).ready(function(){
				$("#div11").hide();
				$("#div1").click(function(){
					//$("#panel").slideUp("fast");
					//$("#panel").slideDown("fast");
					$("#div11").slideToggle("fast");
				});
			
			});
			
			$(document).ready(function(){
				$("#div22").hide();
				$("#div2").click(function(){
					//$("#panel").slideUp("fast");
					//$("#panel").slideDown("fast");
					$("#div22").slideToggle("fast");
				});
			
			});
			
			$(document).ready(function(){
				$("#div33").hide();
				$("#div3").click(function(){
					//$("#panel").slideUp("fast");
					//$("#panel").slideDown("fast");
					$("#div33").slideToggle("fast");
				});
			
			});
			
			$(document).ready(function(){
				$("#div44").hide();
				$("#div4").click(function(){
					//$("#panel").slideUp("fast");
					//$("#panel").slideDown("fast");
					$("#div44").slideToggle("fast");
				});
			
			});
			
			$(document).ready(function(){
				$("#div11.y").hide();
				$("#div11.x").click(function(){
					//$("#panel").slideUp("fast");
					//$("#panel").slideDown("fast");
					$("#div11.y").slideToggle("fast");
				});
			
			});	
			
		</script>
		<script src="anuththiran/angular.min.js"></script>
  
</head>

<body>

     <!-- Heade image -->

	<div class="row">
		<div class="twelve columns">
		<img src="images/header.png" align="left"/>
		
		</div>
	</div>
	
	 <!-- Navigation bar -->
	<div class="row">
		<div class="twelve columns">
			<ul class="nav-bar">
 		 		<li class="active"><a href="index.html">Home</a></li>
  				<li><a href="pages/places.html">Places</a></li>
  				<li><a href="pages/foodculture.html">Foods & Culture</a></li>
  				<li><a href="pages/Art&Crafts.html">Arts & Crafts</a></li>
  				<li><a href="pages/Accommodations.html">Accommodations</a></li>
			</ul>
			
		</div>
	</div>
	
	<!-- don't mind this script, I just added them for fun! -->
	<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>
	
	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="eight columns">
				
						<div>
							<script language="JavaScript">
								<!--// slide show the image
								var image1=new Image()
									image1.src="art/a1.jpg"
								var image2=new Image()
									image2.src="art/a2.jpg"
								var image3=new Image()
									image3.src="art/a3.jpg"
								var image4=new Image()
									image4.src="art/a4.jpg"
								var image5=new Image()
									image5.src="art/a5.jpg"
								var image6=new Image()
									image6.src="art/a6.jpg"
								var image7=new Image()
									image7.src="art/a7.jpg"
								
							//-->
							</script>
						
						<center><img src="art/a1.jpg" name="slide"></center>
						
						<script>
							<!--//variable that will increment through the images
								var step=1
								function slideit()
									{
										//if browser does not support the image object, exit.
										if (!document.images)
										return
										document.images.slide.src=eval("image"+step+".src")
										if (step<7)
										step++
										else
										step=1
										//call function "slideit()" every 2.5 seconds
										setTimeout("slideit()",2000)
									}
								slideit()
							//-->
						</script>
					</div>
					
					<div>
						<p>Arts of Sri Lanka have achieved great heights during the course of history. 
						All the Sri Lankan art forms like dance, music, sculpture, paintings and architecture
						have enjoyed development. Influence of Buddhism on the arts of Sri Lanka is obvious 
						as is the impact of India. Originated religious beliefs of the people are the base 
						of Sri Lanka arts. Every phase in the history of Sri Lanka has added some 
						characteristic elements to Sri Lankan arts.
						</p>
					</div>
				
					<div>
						<h4>Handicrafts of Sri Lanka</h4>
						<p>
							Sri Lanka takes pride in its extensive variety of handicrafts. Tradition of 
							making handicrafts is very old. Requirements of the people and their artistic 
							tastes combined themselves to make these articles. These handicrafts serve as 
							wonderful souvenirs and can be found in shops and stores in all parts of the 
							country.
						</p>
					</div>
					
					<script>
						$(document).ready(function(){
							$("#panel").slideUp("fast");
								$("#flip").click(function(){
					//$("#panel").slideUp("fast");
					//$("#panel").slideDown("fast");
									$("#panel").slideToggle("fast");
								});
			
							});
					</script>
					
					<div id="flip"><center><button><img src="art/c1.JPG"/></center></button></div>
					
					<div id="panel">
						<table>
							<tr>
								<td>
									<center><h4>Mask</h4></center><br>
									<p>Sri Lankans exclusively use masks, facial decorative wear. Since ancient times, the masks are 
									being used in different needs. Traditional Sri Lankans think that masks have 
									curative power for various physical and physiological illnesses. 
									</p>
									
									<center><img src="art/m1.jpg"/></center>
								</td>
								
								<td>
									<center><h4>Pottery</h4></center><br>
									<p>Pottery is one of the oldest crafts in Sri Lanka. Pottery is still 
									used by thousands of people as a daily utensil. More intricate products
									likes terracotta figures, carved vases, etc are taken back by the 
									visitors as souvenirs.
									</p>
									<br>
									<center><img src="art/p1.jpg"/></center>
								</td>
							</tr>
							
							<tr>
								<td>
									<center><h4>Batiks</h4></center><br>
									<p>Batik is basically an Indonesian art, but has evolveded in Sri Lanka 
									into its unique style. Tourists can find hundreds of variety of batiks sold throughout 
									the island. More popular among these are the batik pictures made in Kandy 
									and Fresco Batiks on the Peradeniya road in the outskirts of Kandy.
									</p>
									<br>
									<center><img src="art/b1.jpg"/></center>
								</td>
								
								<td>
									<center><h4>Jewelry</h4></center><br>
									<p>Sri Lanka is excellent producer of jewelry. It benefits its own 
									economy to great extent. There are two conventions of jewelry making: 
									Galle tradition and Kandyan tradition. The Galle tradition is known for 
									its precious stones while the Kandyan tradition is carried by its 
									intricate metal work.
									</p>
									<br>
									<center><img src="art/j1.jpg"/></center>
								</td>
								
								
							</tr>
						
						</table>
						</div>
					<div>
						<h4>Sculpture and painting of Sri Lanka</h4>
						<p>Indian culture has also given dominant and deep mark in Sri Lankan arts.Indian culture here means the
						Indian Buddhist culture introduced along with Buddhism into Sri Lanka in the 3rd century B.C and becoming 
						the core of Sri Lankan culture ever since. Nonetheless, Indian culture has not restrained the formation of 
						a distinctively Sri Lankan tradition to express in its own ways. Sri Lankan artistic style varied from
						kingdom to kingdom along its historic lines, each of which has successively added some characteristic 
						elements to Sri Lankan arts, becoming the completely priceless inheritance we can see today.

						</p>
						
						
					</div>
			
				</div>		
		
				<div class="four columns">
				<h3>Do You Now About ???</h3>
				<div ng-app="">
					   <input type="checkbox" ng-model="showHide1"> Sigiriya<br>
					   <button ng-show="showHide1"><img src="art/sa1.jpg"/>
					   <p>Sigiriya Lion Rock rises 360 meters above sea level. While it is not a Buddhist pilgrimage site, it is very important historically and archaeologically and is one of the UNESCO Cultural Triangle sites. As described later in this post, it was also home during separate periods of hundreds of years to Buddhist monastic orders.</p></button>
					   <br>
						<input type="checkbox" ng-model="showHide2"> Dhampula Cave Temple<br>
					   <button ng-show="showHide2"><img src="art/sa3.jpg"/>
					   <p>Major attractions are spread over 5 caves, which contain the statues and the paintings. Since it's founding in the 1 century BC by King Valagamba, many improvements and additions have been carried out to the sculptures and paintings over the years. Hindu statues are believed to be of the 12 century AD and the latest paintings are of the late 18-century. </p></button>
					   <br>
					   <input type="checkbox" ng-model="showHide3"> Empakka Devalaya<br>
					   <button ng-show="showHide3"><img src="art/sa4.jpg"/>
					   <p>The Historical Ambakka temple is located in Kandy city of central province. The village of Embekka (also written as Ambakka , Embakke , Embekke) is found in the area well-known as Udunuwara in the Kandy district. It is located about three kilometers from the beautiful Peradeniya Botanical Gardens</p>
					   </button>
						<br>
					   <input type="checkbox" ng-model="showHide4"> Thivanka Murals<br>
					   <button ng-show="showHide4"><img src="art/sa5.jpg"/>
					   <p>The Tivanka pilimage (shrine) at Polonnaruva contains the largest complement of murals paintings of classical inspiration. The figurative paintings that sprawl along the surface of the walls of the entresol between the inner shrine and the vestibule depicting the gods of the Tusita heaven in majestic grace entreating the Bodhisattva to be born as the Buddha, constitute monumental compositions of epic grandeur. </p>
					   </button>
						<br>
					   
		
					</div>
					
					<hr />
					<center>
						<video controls autoplay loop width="300" height="200">
							<source src="anuththiran/vid.mp4" type="video/mp4"/>
						</video>
					</center>
					<hr>
					<label>  
					 <br />  
					 <input type="text"  list="places" placeholder="Search">  
					 <datalist id="places">  
					 <option value="Sigiriya">  
					 <option value="Polonarywa">  
					 <option value="Anurathapuram">   
					 <option value="Yapaguva">   
					 <option value="Empakka devalaya">   
					 <option value="Thivanka Murals">   
					 <option value="Dhampula cave temple">   
					 <option value="Kataragama">   
					 <option value="Upulvan maha devalaya">   
					 <option value="Mulkirigala rock temple">   
					 <option value="Mahendra Singh Dhoni">   
					 <option value="Barefoot Gallery">  
					 <option value="Red Dot Gallery"> 
					 <option value="Hemple Gallery"> 
					 <option value="Sapumal Foundation Gallery"> 
					 <option value="Gaya"> 
					 <option value="Ask lanka"> 
					 <option value="Lanka Handicraft"> 
					 <option value="Diyara handicraft"> 
					 <option value="Kandy"> 
					 </datalist>  
					</label>
					<center><button>Search</button></center>
					<hr>
					<h3>Search Sri Lanka </h3><br>
				<div>	
					<div id="div1">Historical Art Places</div>
					<div id="div11">
						<ul>
							<li ><a href="">Sigiriya</a></li>
							<li><a href="">Dampulla</a></li>
							<li><a href="">Embekka Devalaya</a></li>
							<li><a href="">Mulkirigala Rock Temple</a></li>
						
						</ul>
					</div>
					
					<div id="div2">Art Gallery</div>
					<div id="div22">
						<ul>
							<li><a href="">Barefoot Gallery</a></li>
							<ul><li>No 704 Galle road, Colombo 7</li></ul>
							<li><a href="">Sapumal Foundation Gallery</a></li>
							<ul><li>No 32/4 Barnes place, Colombo</li></ul>
							<li><a href="">Red Dot Gallery</a></li>
							<ul><li>No 33/4A D.S Senanayaka Mawatta, Colombo 8</li></ul>
							<li><a href="">Hemple Gallery</a></li>
							<ul><li>No 30/3 Barnes place,, Colombo 7</li></ul>
							<li><a href="">Art Way Gallery</a></li>
							<ul><li>No 66 old kesbewa road, Nugagoda</li></ul>
						
						</ul>
					</div>
					<div id="div3">Historical Cultural Places</div>
					<div id="div33">
						<ul>
							<li><a href="">Temple of Tooth Relic</a></li>
							<li><a href="">Upulvan Maha Devalaya</a></li>
							<li><a href="">Kataragama</a></li>
						</ul>
					</div>
					
					<div id="div4">Handicraft Making</div>
					<div id="div44">
						<ul>
							<li><a href="">Gaya</a></li>
							<ul><li>No F/2 2nd Nawagumpura orugodawatta, wellampitiya</li></ul>
							<li><a href="">Ask Lanka</a></li>
							<ul><li>No 398 Galle road, Kaluthara</li></ul>
							<li><a href="">Lanka handicraft</a></li>
							<ul><li>No 10/c Alubogahalaandha maha Gonaduwa</li></ul>
							<li><a href="">Diyara handicraft</a></li>
							<ul><li>No 221 Bopitiya, Pamunugama</li></ul>
						
						</ul>
					</div>
		
				</div>
				
				
				
				
				</div>
				
				
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<div class="row">
		<div class="twelve columns">
		<hr />
		<table class="twelve columns" style="background:transparent; border="0px solid : transparent" ">
		<tr>
		<td>
		<div class="row">
		<div class="twelve columns">
		<img src="images/wonder.png" align="left"/>
		
		</div>
	</div>
	</td>
	<td>

	<div class="row">
		<div class="twelve columns">
		<img src="images/logo.png" align="left"/>
		
		</div>
	</div>
		
	</td>
	<td>

	<div class="row">
		<div class="twelve columns">
		<img src="images/logo2.png" align="left"/>
		
		</div>
	</div>
		
	</td>
	<td>

	<div class="row">
		<div class="twelve columns">
		<img src="images/logo3.png" align="left"/>
		
		</div>
	</div>
		
	</td>
	</tr>
	</table>
	
		<div class="twelve columns" style="min-heigt:5px; background:#FFEB3B; padding:0px; align="center;" ">
		<p align="center"><span style="color:#D50000; "><b>© 2012/CS/073 KOVINTHARAJA - ANUTHIRAN GROUP : J</span></b></p>
		
		
	</div>
		
		</div>
	</div>
</body>
