<!DOCTYPE html>


 <html class="no-js" lang="en"> 
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Home | Visit Srilanka</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/home.css">

  
  <!-- Included JavaScript files-->
  <script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
  <script src="javascripts/modernizr.foundation.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
  
 

  

  

  
</head>

<body>





     <!-- Heade image -->
	<div class="row">
		<div class="twelve columns">
		<img src="images/header.png" align="left"/>
		
		</div>
	</div>
	
	 <!-- Navigation bar -->
	<div class="row">
		<div class="twelve columns">
			<ul class="nav-bar">
 		 		<li class="active"><a href="index.html">Home</a></li>
  				<li><a href="pages/places.html">Places</a></li>
  				<li><a href="pages/foodculture.html">Foods & Culture</a></li>
  				<li><a href="pages/Art&Crafts.html">Arts & Crafts</a></li>
  				<li><a href="pages/Accommodations.html">Accommodations</a></li>
			</ul>
			
		</div>

		
	</div>

	<!-- Slide show-->
  
	<div class="row">
    <div class="twelve columns">
	 </pre>
<ul style="list-style-type: none; box-shadow:5px 5px 5px #888888; ">
    <li id="1" class="hideable" style="display: block;"><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
     <li id="1" class="hideable" ><img src="images/slidr11.png"></li>
    <li id="2" class="hideable"><img src="images/sldr12.png"></li>
    <li id="3" class="hideable"><img src="images/sl1.png"></li>
     <li id="4" class="hideable" ><img src="images/sl2.png"></li>
    <li id="5" class="hideable"><img src="images/sl3.png"></li>
    <li id="6" class="hideable"><img src="images/sl4.png"></li>
    <li id="7" class="hideable" ><img src="images/sl5.png"></li>
    <li id="8" class="hideable"><img src="images/sl6.png"></li>
    <li id="9" class="hideable"><img src="images/sl7.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
    <li id="9" class="hideable"><img src="images/sldr21.png"></li>
     <li id="9" class="hideable"><img src="images/sl7.png"></li>
     <li id="8" class="hideable"><img src="images/sl6.png"></li>
     <li id="7" class="hideable" ><img src="images/sl5.png"></li>
     <li id="6" class="hideable"><img src="images/sl4.png"></li>
     <li id="5" class="hideable"><img src="images/sl3.png"></li>
      <li id="4" class="hideable" ><img src="images/sl2.png"></li>
      <li id="3" class="hideable"><img src="images/sl1.png"></li>
      <li id="2" class="hideable"><img src="images/sldr12.png"></li>

<!-- ... and so on --></ul>
</div>
</div>



	

	

	
	
	<!-- don't mind this script, I just added them for fun! -->
	<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>
	
	<div class="row">
		<div class="twelve columns">
			
			<!-- Search -->
				<div class="six columns" ng-app=PlacesApp style="box-shadow: 5px 5px 5px #888888;display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: center; /* Safari 7.0+ */
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;">
				<div ng-controller="plcCtrl" >
				<div>
  
    <table id="search">
        <tr>
            <td align="right"><span style="font-family:Impact ; color:#FF6F00;">Search :</span></td>
            <td><input ng-model="query[queryBy]" style="
            border:2px solid #FFFF00;
	        border-radius:10px;
	        height: 22px;
	        width: 230px;" /></td>
        </tr>           
        <tr style="background:transparent;">
            <td align="right"><span style="font-family:Impact; color:#FF6F00;">Search By :</span></td>
            <td>
                <select ng-model="queryBy" style="
            border:2px solid #FFFF00;
	        border-radius:10px;
	        height: 22px;
	        width: 230px;" >
                    <option value="$"></option>
                    <option value="name">NAME</option>
                    <option value="type">CATEGORY</option>
                    <option value="location">LOCATION</option>
                </select>   
            </td>
        </tr>
    </table>
    </div>
    <hr>
    <div>
        <table id="search"  >
            <tr>
                <th>Place</th>
                <th>Category</th>
                <th>Location</th>
            </tr>
            <tr ng-repeat="plc in places | filter:query">
                <td>{{plc.name}}</td>
                <td>{{plc.type}}</td>
                <td>{{plc.location}}</td>
            </tr>
        </table>
        </div>
        </div>
    </div>
				
		    <!-- Article -->
				<div class="six columns" style="box-shadow: 5px 5px 5px #888888;" >
					<h4><span style="color:#E65100;">Trailblazing in Sri Lanka!</span></h4>
					<br/>
					
					<!-- don't mind these, I just added them for fun! -->
					<p align="justify">
						Explore a multitude of unexplored destinations in the corners of Sri Lanka. Search, browse and access information on destinations with archeological and natural interests, beyond the middle-of-the-road attractions. Take home a novel experience, may it be swimming elephants of the East, golden beaches of Jaffna, hiking and mountain climbing in mid-country to reach an ancient fortress or exploring a lost city amidst the untamed jungle; the unseen Sri Lanka awaits you. Come; travel the path of the pioneers. What is more if you know about a site we missed? Tell us about your experience and we would tell the world through words, picture and video.
					</p>
					<br/>
					<h5><span style="color:#E65100;">Spread the word!</span></h5>
					<br/>
					<p align="justi">
						Like what you see and read? Share the lesser travelled sites of Sri Lanka through websites, blogs, forums and social networking. Facebook, tweet, blog or you tube and spread the word. You are free to use/copy the content (i.e: text,images,videos) available on this web site by providing due courtesy to Sri Lanka Tourism & a link to this site.
					</p>
					
					
					
					
				</div>

			</div>

		</div>
		<!-- video-->
		<div class="row">
		<div class="twelve columns" style="">
			<hr />
			</div>
			<div class="four columns" style="box-shadow: 5px 5px 5px #888888;">
			<h4><span style="color:#E65100;">Discover the many flavours of Sri Lanka</span></h4>
					<br/>
					
					<!-- don't mind these, I just added them for fun! -->
					<p align="justify">
						Thanks to its strategic position on the route between East and West, many cultures have influenced Sri Lanka's cuisine. Neighbours, traders, immigrants and colonisers have all left their mark on the island's food, creating a mouthwatering blend of Dutch, Portuguese, English, Arab, Malay and Indian flavours.
						Sri Lanka is a multi-ethnic and multi-religious society. The main ethnic groups are the Sinhalese (predominantly Buddhist) and Tamils (primarily Hindu), both originally from the Indian subcontinent. Then there are the Muslims (also called the Sri Lankan Moors), descendants of the Arab or Indian traders who arrived when Sri Lanka became an ancient trading centre. Similarly, Malays and Chinese were also attracted to the island.




					</p>
				
			</div>

			<div class="eight columns" style="box-shadow: 5px 5px 5px #888888;">

			<video width="600" height="450" controls>
            <source src="media/video.mp4" type="video/mp4">
            
Your browser does not support the video tag.
</video>
				
			


			
		</div>
		
		</div>
	</div>
	<!-- footer -->
	<div class="row">
		<div class="twelve columns">
		<hr style="box-shadow: 5px 5px 5px #888888;"/ >
		<table class="twelve columns" style="background:transparent; border="0px solid : transparent" ">
		<tr>
		<td>
		<div class="row">
		<div class="twelve columns">
		<img src="images/wonder.png" align="left"/>
		
		</div>
	</div>
	</td>
	<td>

	<div class="row">
		<div class="twelve columns">
		<img src="images/logo.png" align="left"/>
		
		</div>
	</div>
		
	</td>
	<td>

	<div class="row">
		<div class="twelve columns">
		<img src="images/logo2.png" align="left"/>
		
		</div>
	</div>
		
	</td>
	<td>

	<div class="row">
		<div class="twelve columns">
		<img src="images/logo3.png" align="left"/>
		
		</div>
	</div>
		
	</td>
	</tr>
	</table>
	
		<div class="twelve columns" style="min-heigt:5px; background:#FFEB3B; padding:0px; box-shadow: 5px 5px 5px #888888;">
		<p align="center"><span style="color:#D50000; "><b>© 2015 Thanrindu Ketipearachchi | RedbelT</span></b></p>
		
		
	</div>
		
		</div>
	</div>
</body>
