 #div1{
	height:30px;
	width:100%;
	background-color:#F1f1f1;
	border: 0.05px solid black;
	color:blue;
	font-size:20px;
}

 #div2{
	height:30px;
	width:100%;
	background-color:#F1f1f1;
	border: 0.05px solid black;
	color:blue;
	font-size:20px;
}

 #div3{
	height:30px;
	width:100%;
	background-color:#F1f1f1;
	border: 0.05px solid black;
	color:blue;
	font-size:20px;
}

 #div4{
	height:30px;
	width:100%;
	background-color:#F1f1f1;
	border: 0.05px solid black;
	color:blue;
	font-size:20px;
}

#div11.a{
	color:black;
}

 