.hideable {
    display: none;
}
table { 
	background: transparent;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px; 
	 border-radius: 3px; 
	 margin: 0 0 18px; 
	 border: 0px solid #ddd;
	 text-align: center;
	 font-family: arial; 
	

}